Package: com.irepo.vinculum2
Name: Vinculum 2
Version: 2.0.0
Architecture: iphoneos-arm
Description: Made on stream! twitch.tv/billbuildsyt. Vinculum 2 is the great successor to Vinculum. Completely reworked from the ground up! Vinculum 2 moves the app library from the last page to under the dock for quick and easy access. 
Maintainer: William Vabrinskas
Author: William Vabrinskas
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
