<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>id</key>
			<string>imageCell</string>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>ImageCellVinculum</string>
			<key>height</key>
			<integer>100</integer>
		</dict>
			<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
		  <string>twitter.png</string>
			<key>action</key>
			<string>followOnTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@wvabrinskas</string>
		</dict>
			<dict>
			<key>icon</key>
		  	<string>yt.png</string>
			<key>action</key>
			<string>followOnYoutube</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Bill Builds</string>
		</dict>
			<dict>
			<key>icon</key>
		  <string>twitch.png</string>
			<key>action</key>
			<string>followOnTwitch</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>billbuildsyt</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Will require respring to fully disable</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MonitorSwitch</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.irepo.vinculum2</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MonitorVinculumSwitch</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.irepo.vinculum2</string>
			<key>key</key>
			<string>showSearchFirst</string>
			<key>label</key>
			<string>Show Search First</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>apply</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply Changes</string>
		</dict>
	</array>
	<key>title</key>
	<string>Vinculum 2</string>
</dict>
</plist>
